<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" [formGroup]="ForminiciarSesion" (ngSubmit)="iniciarSesion()">
                    <div class="login__field">
                        <div class="card flex justify-center">
                            <p-floatlabel variant="on">
                                <input pInputText id="on_label" formControlName="username" autocomplete="off" />
                                <label for="on_label">Usuario</label>
                            </p-floatlabel> 
                            <p>usuario: {{ ForminiciarSesion.value.username }}</p>
                        </div>
                    </div>
                    <div class="login__field">
                        <div class="card flex justify-center">
                            <p-floatlabel variant="on">
                                <p-password [feedback]="false" formControlName="password"/>
                                <label for="on_label" >Contraseña</label>
                            </p-floatlabel>
                            <p>Contrasena: {{ ForminiciarSesion.value.password }}</p>
                        </div>
                    </div>
                    <button  class="button login__submit">
                        <span class="button__text">Iniciar sesion</span>
                    </button>
                </form>

                <div class="BtnRegister">
                    <button id="BtnRegisterApp" (click)="newRegister('barbero')" routerLink="/newRegister">Soy un barbero</button>
                    <Button id="BtnRegisterApp" (click)="newRegister('cliente')" routerLink="/newRegister">Soy un cliente</Button>                </div>
                
                <div class="social-login">
                    <h3>Eden Sky Barber</h3>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__medio"></span>		
                <span class="screen__background__shape screen__background__superior"></span>
                <span class="screen__background__shape screen__background__login"></span>
            </div>		
        </div>
    
    </div>
</body>
</html>